/* Show it is fixed to the top */
body {
  min-height: 75rem;
  padding-top: 4.5rem;
}

div.page-header{
  margin-top: 1.5rem;
}

* {
    box-sizing: border-box;
}

.column {
    float: left;
    width: 50%;
    padding: 20px;
}

/* Clearfix (clear floats) */
.row::after {
    content: "";
    clear: both;
    display: table;
}

html {
  scroll-behavior: smooth;
}

#ext_link{
  margin-left: 4px;
  margin-top: -3px;
}

#brand-span{
  padding: 0.5rem;
}

th.th1 {
  vertical-align: middle;
}

th.th2 {
  text-align: center;
  vertical-align: middle;
  border-top: medium solid black;
}

.table-responses td, .table-responses th {
  padding: .4rem;
}

.table-responses th {
  border-bottom: medium solid black;
}

.table-responses tr.sep td {
  border-bottom: medium solid black;
}

.table-responses td {
  border: none;
}
